HOST=0.0.0.0
PORT=8080
PUBLIC_DOMAIN=izzatillo-aka.vipads.uz
ADMIN_USERNAME=Izzatillo
ADMIN_PASSWORD=Izzatilloaka
STATE_PATH=data/state.json
TELEGRAM_SESSION_PATH=data/userbot.session
STATIC_DIR=frontend/dist
TELEGRAM_API_ID=
TELEGRAM_API_HASH=
TELEGRAM_PHONE=
SMMMAIN_API_KEY=
SMMMAIN_API_URL=https://smmmain.com/api/v2
ADSQORA_API_KEY=
ADSQORA_API_URL=https://adsqora.vipads.uz/api
